#main {
  margin-inline: 10%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(4, 20em);
  padding: 10px;
  grid-gap: 2em;
}
.toolbar {
  margin-block-start: 5rem;
  margin-inline: 10%;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}
.toolbar .dropdown-list {
  margin-block-start: 6em;
  text-align: center;
  flex-grow: 6;
  font-size: large;
}

#panel {
  flex-grow: 1;
  margin-bottom: 0;
}

.dot {
  height: 1rem;
  width: 1rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-flex;
}

.panel-block {
  display: flex;
  justify-content: space-evenly;
}
